---
import { Image } from 'astro:assets';
import heroImage from '../../assets/images/hero.jpg';
import AnimatedBackground from '../ui/AnimatedBackground.astro';
---

<section class="section section-bg-gray pt-16 md:pt-50 lg:pt-68 pb-(--spacing-section) text-left">
  <AnimatedBackground />
  <h1 class="heading-xl font-light leading-[1.2] mb-8 md:mb-16 lg:mb-24"><span class="color-muted">Bienvenue chez Merly</span> Votre nouveau gestionnaire patrimonial</h1>
  <Image
    src={heroImage}
    alt="Merly hero"
    class="img-cover h-[357px] mb-(--spacing-section) md:h-[575px] lg:h-[805px]"
    widths={[400, 800, 1200, 1512]}
    sizes="(max-width: 640px) 100vw, (max-width: 1024px) 100vw, 1512px"
    loading="eager"
    decoding="sync"
    fetchpriority="high"
    transition:animate="none"
  />
  <p class="text-body-lg mb-16">
    Nous accompagnons les particuliers et les entrepreneurs dans la structuration et l'optimisation de leur patrimoine. Bilan patrimonial, stratégie fiscale, préparation de la retraite : un accompagnement sur-mesure, en toute indépendance.
  </p>
  <a href="/about" class="btn-outline btn-icon md:w-fit md:flex md:gap-12 bg-(--color-bg-card) hover:bg-(--color-primary)">
    <span>Découvrir le cabinet</span>
    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
     <path d="M7.6416 7.36328L6.92578 7.36426L6.91797 1.83984C6.91765 1.60881 6.6357 1.48832 6.46973 1.6543L0.504883 7.61914L0 7.11816L5.96582 1.15234C6.13124 0.98632 6.00983 0.705733 5.77832 0.706055L0.238281 0.713867L0.237305 0.000976562L7.63086 0L7.6416 7.36328Z" fill="currentColor"/>
    </svg>
  </a>
</section>
