---
const items = [
  { value: "1500€", description: "Bilan patrimonial complet" },
  { value: "200€", description: "Consultation horaire" },
  { value: "100%", description: "Honoraires, aucune commission" },
];
---

<section class="section">
  <h2 class="heading-lg mb-8">Nos tarifs</h2>

  <div class="card flex flex-col md:py-0">
    {items.map((item, i) => (
      <article class:list={["flex flex-col pt-8 pb-10 md:py-16 lg:py-20 md:flex-row md:justify-between md:items-center", i < items.length - 1 && "border-dashed-light"]}>
        <span class="badge-number mb-3 md:mb-0">/ {String(i + 1).padStart(2, '0')}</span>
        <span class="font-machina text-[4rem] lg:text-[5.25rem] leading-none mb-4 md:mb-0 md:w-48 md:text-left">{item.value}</span>
        <p class="heading-md lg:text-[1.25rem] md:max-w-36 lg:max-w-54 lg:mr-16">{item.description}</p>
      </article>
    ))}
  </div>
</section>
